.maincontent{
    float: left;
    width: 50%;
    height: 100%;
   
    
    
    
}
.seccontent{
    float: left;
    width: 50%;
    height: 100%;
    
    
}
    
#mainpic{
    height: 330px;
    width: auto;
    border: 5px solid black;
}

#eventpic{
    height:150px;
    width: 300px;
    border: black 2px solid;
}

.impostorcarousel{
   padding-left: 80px;
   padding-top: 50px;
   background-color: aliceblue; 
}

.table{
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    border-LEFT: 5px solid black;
    margin-right: 50px;
    padding-bottom: 50px;
    background-color: aliceblue;

}

#color{
    background-color: aliceblue;
}
